# Deny access to .htaccess.
<files ~ "^\.ht">
  Require all denied
</files>

# Hide Index of /.
Options -Indexes

RewriteEngine On

# SSL/TLS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# www
RewriteCond %{HTTP_HOST} !^(www|sub)\.
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

## non-www
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Trailing slash
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !\.[^/\.]+$
RewriteRule .* %{REQUEST_URI}/ [R=301,L]

# Redirect DocumentRoot to Subdirectory
RewriteCond %{REQUEST_URI} !^/contents.html$
RewriteCond %{HTTP_HOST} ^www.example.localhost$
RewriteCond %{REQUEST_URI} !^/www.example.localhost/
RewriteRule (.*) /www.example.localhost/$1 [L]

# Redirect Subdirectory "www.example.localhost"
RedirectMatch 404 ^/www.example.localhost$
